* {
    margin: 0;
    padding: 0;
}

.heading,
.our-popular-tours,
.choose-destination,
.why-choose,
.deals-and-discount,
.a-simple-perfect,
.newsletter {
    
    width: 90%;
    /* height: fit-content; */
    margin: auto;
    margin-bottom: 30px;

}

.heading {
    background-image: linear-gradient(to bottom, rgba(19, 19, 24, 0.80), rgba(19, 19, 24, 0.00)), url('/Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center;
    /* background-attachment: fixed; */

}

.heading h1 {
    margin-top: -5rem;
    color: #FFF;
    font-family: Mulish;
    font-size: 4em;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.paragaraph {
    width: 50%;
    /* border: 1px solid black; */
    text-align: center;
    /* text-wrap: balance; */
    color: #FFF;

    font-family: Mulish;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    /* 162.5% */
}

.input-field {
    display: flex;
    flex-shrink: 1;
    gap: 10px;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.30);
}

.our-popular-tours {

    display: flex;
    justify-content: center;
    gap: 2rem;

}

.text,
img {

    width: 50%;
    height: 50%;
}

.text {
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.text h3 {
    color: #131318;
    text-align: left;
    font-family: Mulish;
    font-size: 3rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.text p,
li {
    color: rgba(19, 19, 24, 0.70);
    padding: 5px;
    font-family: Mulish;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    /* 162.5% */
}

.read-more {
    display: flex;
    width: 9rem;
    height: 3rem;
    background-color: red;
    border-radius: 8px;
    text-align: center;

    padding: 10px;
    align-items: center;
    justify-content: center;
}

.read-more a {
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-decoration: none;
}

.choose-destination {

    display: flex;
    flex-direction: column;
    border: 1px dotted black;
    /* gap: 0.5rem; */
    row-gap: 0.5rem;
    /* column-gap:0.5rem ; */

}

.row {
    display: flex;
    /* gap: 0.5rem; */
    justify-content: center;
    width: 100%;
    margin: 0;
    column-gap: 1em;


}


.first-row {
    position: relative;
    display: block;
    width: auto;
    margin: 0;
}

.maldives,
.indonesia,
.srilanka,
.north-america,
.kashmir,
.bangladesh,
.bandarban {
    position: relative;
    top: 50%;
    right: 50%;
    left: 40%;
    bottom: 50%;
    color: #FFF;
    width: fit-content;
}


.second-row {
    position: relative;
    display: block;
    width: auto;

}

.third-row {

    position: relative;
    display: block;
    width: auto;
}

h2 {
    top: 50px;
    right: 50%;
    /* align-items: center;
    text-align: center; */
}

.gallery {
    max-width: 100%;
    height: auto;

    object-fit: cover;
    margin: 0;
}



#img1 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#img2 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#img3 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#img4 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#img5 {
    width: 100%;

    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#img6 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}

#img7 {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
}


.why-choose {

    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 5px;
    border-radius: 25px;
    /* flex-direction: row; */
    justify-content: center;
    text-align: center;
}

.why-choose p {
    width: 80%;
    margin: 0;
}

.card-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-content{
    height: 80px;
    width: 80px;
    margin-bottom: 10px;
}
.h2-content{
    color: #131318;
font-family: Mulish;
font-size: 24px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.p-content{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height:160%;
}
.card {
    /* background-color: antiquewhite; */
    width: calc(50% - 20px);
    /* Adjusted width to include a 20px gap between cards */
    margin: 10px;
    /* Added margin to create a gap between cards */
    height: 250px;
    border-radius: 15px;
    box-sizing: border-box;
    /* Ensures padding and border are included in the box sizing */
    text-align: left;
    padding: 15px;
}

#card-1{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#card-2{
    border-radius: 16px;
border: 1px solid rgba(41, 206, 246, 0.20);
background: rgba(41, 206, 246, 0.05);
}
#card-3{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.newsletter {
    display: flex;
    width: 100%;
    height: 60vh;
    border: 1px solid black;
  }
  
  .form {
    width: 40%; /* Set the width of the form to 40% */
    border: 1px solid red;
  }
  
  .mountain-image {
    width: 60%; /* Set the width of the mountain-image to 60% */
    border: 1px solid red;
  }
  
  
.input{

    display: flex;
    flex-direction: column;
    padding: 10px;
    row-gap: 10px;
}

.input-tag{
    width: 100%;
    height: 3rem;
    border-radius: 8px;
background: rgba(19, 19, 24, 0.05);
padding: 5px;
}

form > h2{
    color: #131318;
font-family: Mulish;
font-size: 2.5em;
font-style: normal;
font-weight: 800;
line-height: normal;
text-align: left;
}
form > p{
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height:160%;
text-align: left;
}


.image-fit > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    
}
.mountain-image{
    background-image: url('/Images/Rectangle\ 8\ \(1\).png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:scroll;
    position: relative;
    
    
}

.angle-element{
    height: 150px;
    width: 300px;
    position: absolute;
    z-index: 1;
    background-color: red;
    top: ;
    bottom:10%;
    left:60%;
    right: ;
    border-radius: 16px;
    background: #FF5400;
}



.footer {
    background-color: antiquewhite;
    margin-bottom: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer-heading {
    display: flex;
    height: 25%;
    weight: 25%;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.footer-heading>img {
    height: 25%;
    width: 10%;
}

.footer-heading>p {}

hr {
    margin-top: 25px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.icons-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-div>img {
    width: 25px;
    padding: 1rem;
}